[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "Rapp"]
	path = Rapp
	url = https://github.com/t-kalinowski/rapp
[submodule "commafree"]
	path = commafree
	url = https://github.com/t-kalinowski/commafree
[submodule "envir"]
	path = envir
	url = https://github.com/t-kalinowski/envir
[submodule "keras"]
	path = keras
	url = https://github.com/cran/keras
[submodule "listarrays"]
	path = listarrays
	url = https://github.com/t-kalinowski/listarrays
[submodule "tfautograph"]
	path = tfautograph
	url = https://github.com/t-kalinowski/tfautograph
[submodule "yasp"]
	path = yasp
	url = https://github.com/t-kalinowski/yasp
